@import "normalise.css";

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #eee;
    background-color: #171414
    ;
}

button {
    cursor: pointer;
}

#container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

#container * {
    box-sizing: border-box;
}

/*#REGION Notices */

.notice {
    display: none;

    color: #eee;
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 100%;
}

.notice button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 5px;
}

.update {
    background-color: rgba(0, 120, 0, 0.5);
}

/*#ENDREGION*/

/*#REGION Header */
header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    user-select: none;
}

header::after {
    content: "";
    display: block;
    border-bottom: 1px solid #FFCC00;
    position: absolute;
    left: 0;
    width: 100%;
}

header h1 {
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 0;
}

header h2 {
    color: #FFCC00;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 0;
    line-height: 0.5;
    margin-left: 60%;
}
/*#ENDREGION*/

/*#REGION Main */

/*#REGION Steps General Style */
#steps {
    margin-bottom: 20px;
    padding-left: 0;
}

#steps > li {
    margin-bottom: 80px;
}

#steps h3 {
    font-weight: 400;
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-top: 0;
}

#steps h3 span {
    font-weight: 300;
    font-size: 0.75em;
}

#lua-warning {
    color: #FF0000;
    font-weight: 400;
    font-size: 0.75em;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: left;
}

.outline {
    background-color: #222121;
    border: 1px solid #FFCC00;
    padding: 10px;
    margin-bottom: 10px;
}

.listbox button {
    background-color: transparent;
    border: none;
    color: #FFCC00;
    font-weight: 300;
    width: 25px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.listbox > li.empty {
    color: #777
}

.listbox > li.empty a, .listbox > li.empty a:link, .listbox > li.empty a:visited, .listbox > li.empty a:hover, .listbox > li.empty a:active {
    color: #FFCC0075;
    text-decoration: underline;
}

hr.or_seperator {
    border: 0;
    border-bottom: 1px solid #FFCC00CC;
    margin-top: 10px;
    margin-bottom: 20px;
}
hr.or_seperator::after {
    background: #171414;
    content: "OR";
    display: inline-block;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 40px;
    position: absolute;
    line-height: 0;
}
/*#ENDREGION*/

/*#REGION Step1 */
#step1-form input {
    color: #eee;
    width: 80%;
    float:left;
    box-sizing: border-box;
}
#step1-form button {
    color: #eee;
    width: calc(20% - 10px);
    float:right;
    box-sizing: border-box;
}
/*#ENDREGION*/

/*#REGION Step2 */
#steps > li:nth-child(2) .content {
    text-align: center;
}

#steps > li:nth-child(2) input {
    color: #eee;
    width: 100%;
}

#steps > li:nth-child(2) hr {
    color: #eee;
    width: 100%;
}

#steps > li:nth-child(2) textarea {
    color: #eee;
    resize: none;
    height: 360px;
    width: 100%;
}

#steps > li:nth-child(2) button {
    color: #eee;
    background-color: #FFCC00AA;
    border: 1px solid #222121;
    display: inline;
    text-align:center;
    padding: 10px 7%;
}

#steps > li:nth-child(2) button:hover {
    background-color: #222121;
    border: 1px solid #FFCC00AA;
    transition: all 0.2s ease-in-out;
}
/*#ENDREGION*/

/*#ENDREGION*/